.container{
  max-width: 550px;
  max-height: 200px;
}

.card{
    border-radius: 25px;
}

.go {
    margin-left : 130px;
    width: 20%;
    background-color : white;
    border: 1px;     
    margin-top: 25px;
    border-radius: 8px;
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.go:hover {
  border: 2px solid #4CAF50;
  background-color : white;
}

.skip {
  margin-left : 20px;   
  background-color: white;
  width: 20%;
  border: 1px;    
  margin-top: 25px;
  border-radius: 8px;
  opacity: 0.8;
  /*transition: 0.5s;*/
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

.skip:hover {
      border: 2px solid red ;
      background-color : white;
  }

.stars{
    padding-bottom: 10px;
    float: right;
}

.subtitle{
    padding-bottom: 10px;
}

.price{
    color: white;
}

.phone{
    width: 30%;
    background-color:white;
}

.phone:hover {
    background-color : white;
}

.image{
    width: 475px;
    height: 400px;
}